<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" 
							default-autowire="byName">
	<bean id="taskDaoProxy" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager"/>
		</property>
		<property name="target"> 
			<ref bean="synDataForMarketingDao"/> 
		</property>  
		<property name="transactionAttributes">
			<props>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:configuration.properties</value>
            </list>
        </property>
    </bean>
	
	<!--档案同步处理MANAGER-->
	<bean id="synDataForMarketingManager" class="com.nari.serviceimpl.SynDataForMarketingManagerImpl">
		<property name="synDataForMarketingDao" ref="synDataForMarketingDao"/>
	</bean>
	
	<!--WebService处理MANAGER-->
	<bean id="wsForMarketingManager" class="com.nari.serviceimpl.WsForMarketingManagerImpl">
		<property name="wsForMarketingDao" ref="wsForMarketingDao"/>
	</bean>
	
	<!--终端运行管理-->
	<bean id="marketTerminalConfigManager" class="com.nari.serviceimpl.MarketTerminalConfigManagerImpl">
		<property name="marketTerminalConfigDAOJdbc" ref="marketTerminalConfigDAOJdbc"/>
	    <property name="publicDbDAO" ref="publicDbDAO"/>
	    <property name="synDataForMarketingDao" ref="synDataForMarketingDao" />
    </bean>
    
    <!--终端运行管理-->
    <bean id="iEIGWSForMarketing" class="${classNameForInterface}"></bean>
	
	<!--WebService客户端-->
	<bean id="marketingWSClient" class="com.nari.webserviceclient.impl.MarketingWSClientImpl"></bean>
	
</beans>