<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<!--测试DAO test表 -->
	<bean id="testDAO" class="test.com.nari.pojo.TestDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!--查询供电单位 -->
	<bean id="oOrgDao" class="com.nari.oranization.impl.OOrgDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!--操作缓存数据-->
	<!--
	<bean id="coherenceDaoImpl" class="com.nari.coherence.impl.CoherenceDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	-->
</beans>